[data-btn] {
  cursor: pointer;
}

[data-btn-text] span {
  display: inline-block;
  text-shadow: 0 1.3em currentColor;
  transform: translateY(0) rotate(0.001deg);
  transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

[data-btn]:hover [data-btn-text] span,
[data-btn]:focus-visible [data-btn-text] span {
  transform: translateY(-1.3em) rotate(0.001deg);
}

@media (prefers-reduced-motion: reduce) {
  [data-btn-text] span {
    transition: none;
    transform: none;
    text-shadow: none;
  }
}
